@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

*,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.my-nav {
  position: fixed;
  margin-top: 0;
  width: 9%;
  background-color: transparent;
  text-align: center;
}

.my-nav li {
  list-style: none;
  padding: 1em;
}

.my-nav li a {
  color: rgb(199, 23, 155);
}

.my-nav li a:hover {
  color: rgb(22, 162, 197);
}

/* my header */

.welcome {
  margin: 0;
  display: grid;
  place-items: center;
  background-image: url("/static/images/5.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 30vh;
  color: #fff;
}

.welcome h1 {
  font-size: 3.5em;
  margin: 0;
  font-family: "Syne Mono", monospace;
}

.my-container {
  width: 80%;
  margin: auto;
}

/* home page */

.italic {
  font-style: italic;
}

.blog-info {
  display: grid;
  grid-template-columns: auto;
  margin-bottom: 5em;
}

.small-txt {
  font-size: small;
  padding: 0.8em;
}

.writer {
  display: block;
  font-style: italic;
  text-align: right;
  margin-right: 2em;
}

.date {
  color: rgb(116, 113, 113);
}

.my-links {
  padding: 0.9em;
  font-size: small;
}
.my-links a {
  padding: 1.5em;
}

.link-2 {
  color: red;
}

.image {
  width: 20em;
  height: 18em;
}

/* comments */
.curr-comms {
  width: 80%;
  margin: auto;
}

.curr-comm {
  padding: 1em;
  list-style-type: georgian;
}

.comm_writer {
  font-size: small;
  font-style: italic;
  margin-left: 2em;
  color: rgb(100, 99, 99);
}

.comm_tag {
  color: rgb(201, 38, 147);
  text-align: center;
}

.del-comment {
  color: red;
  margin-left: 2em;
  font-size: small;
}

/* interest */
.interests {
  margin: 0;
  display: grid;
  place-items: center;
  background-image: url("/static/images/interests.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
  color: rgb(94, 211, 231);
}

.interests h1 {
  margin: auto;
  width: 60%;
  font-family: "Syne Mono", monospace;
  backdrop-filter: blur(4px);
  text-align: center;
}

/* about page */
.about {
  margin: 0;
  display: grid;
  place-items: center;
  background-image: url("/static/images/3.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
  color: rgb(43, 181, 235);
}

.about h1 {
  margin: 0;
  font-family: "Syne Mono", monospace;
  backdrop-filter: blur(4px);
}

/* add page */

.add {
  margin: 0;
  display: grid;
  place-items: center;
  background-image: url("/static/images/3.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 20vh;
  color: rgb(43, 181, 235);
}

.add h1 {
  width: 80%;
  margin: auto;
  font-family: "Syne Mono", monospace;
  backdrop-filter: blur(4px);
}

.add-new {
  padding: 20px;
}

.my-btn {
  margin: 20px;
}

button {
  background-color: #fff;
  border: 2px solid rgb(43, 181, 235);
  color: #000;
  padding: 13px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: rgb(43, 181, 235);
  color: white;
}

.current_post {
  margin: 0 auto;
  display: grid;
  place-items: center;
  background-image: url("/static/images/interests.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
  color: rgb(94, 211, 231);
}

.mdiv {
  height: 10em;
}

.footer {
  width: 100vw;
  padding: 1.5em;
  text-align: center;
  background-color: aqua;
  position: fixed;
  bottom: 0;
  font-size: small;
  color: #fff;
  font-weight: bold;
}

@media only screen and (min-width: 700px) {
  .blog-info {
    grid-template-columns: 2fr 1fr;
  }
}

@media only screen and (min-width: 900px) {
  .welcome {
    height: 50vh;
  }
  .my-container {
    width: 70%;
  }
  .blog-info {
    margin: auto;
    grid-template-columns: 1fr 1fr;
  }

  .image {
    width: 24em;
    height: 20em;
  }

  .my-nav li a {
    color: rgb(84, 201, 195);
  }

  .my-nav li a:hover {
    color: rgb(197, 22, 130);
  }

  .welcome h1 {
    font-size: 6em;
  }

  .footer {
    padding: 2em;
  }
}

/*#################################################################*/

/*Accounts*/

.my_user_links {
  position: absolute;
  top: 0.6em;
  right: 0.4em;
}

.my_user_links a {
  padding: 1em 2em;
  border-left: 1px solid rgb(41, 181, 236);
  border-bottom: 1px solid rgb(41, 181, 236);
}

.sign-up {
  background-color: rgb(41, 181, 236);
  color: #fff;
}

.sign-up:hover {
  background-color: rgba(41, 181, 236, 0.5);
}

.sign-in:hover {
  background-color: #fff;
}

/* login page */

.my-container.login {
  width: 70%;
}

.login-tag,
.register-tag {
  text-align: center;
}
