{% extends 'posts/home.html' %}
{% block title %}About Me{% endblock %}

{% block body %}
<div class="about">
    <h1>About Me......</h1> 
</div>
<div class="my-container">
    <h3>Hi I'm Jackie</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda, voluptatum dolorum? Repellat, eius! 
        Nemo nulla saepe perspiciatis cumque, sunt 
        architecto neque blanditiis dolor maiores, magnam provident, temporibus voluptate dicta minus?
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro, repellendus aliquam et laboriosam adipisci 
    error sint ipsum fuga voluptate minima minus praesentium deleniti rerum cupiditate ex harum! Minima, impedit earum.</p>
</div>

{% endblock %}