{% extends 'posts/home.html' %} {% block body %}
<div class="my-container home">
  <h3>{{ post.title }}</h3>
  <div class="blog-info">
    <div>
      <p class="blog-text">{{ post.post }}</p>
    </div>
    {% if post.my_image %}
    <img
      class="image"
      src="{{ post.my_image.url }}"
      alt="image-{{ post.title }}"
      width="600"
      max-height="700"
    />
    {% endif %}
    <p class="small-txt">
      <a href="/about" class="writer">Written-by: {{ post.author }}</a>
    </p>
    <p class="small-txt date">Date-posted: {{ post.date_posted }}</p>
  </div>
  
  <div class="">
  {% if form %}
    <form
      action="{% url 'comment' id=post.id %}"
      method="POST"
      enctype="multipart/form-data"
    >
      {% csrf_token %} {{form.as_ul}}
      <button type="submit" name="save" class="my-btn">Comment</button>
    </form>
  {% endif %}
    {% if comments %}
    <ul class='curr-comms'>
      {% for i in comments %}
      <li class='curr-comm'>{{i}}<a href={% url 'delete_comment' i.id %} class="del-comment"><abbr title="delete comment"><i class="fa fa-trash-o fa-2x"></i></abbr></a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
</div>
{% endblock %}
