{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My-Blog {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<body>
    <ul class="my-nav">
        <li><a href="/"><abbr title="HOME"><i class="fa fa-home fa-2x"></i></abbr></a></li>
        <li><a href="/about"><abbr title="ABOUT  ME"><i class="fa fa-user fa-2x"></i></abbr></a></li>
        <li><a href="/interests"><abbr title="INTERESTS"><i class="fa fa-globe fa-2x"></i></abbr></a></li>
        <li><a href="/add"><abbr title="ADD POST"><i class="fa fa-plus fa-2x"></i></abbr></a></li>
    </ul>
        
    {% block body %}
        <div class="welcome">
            <h1>Welcome to my blog</h1> 
        </div>
        <div class="my-container home">
            {% for i in data_%}
                <h3>{{ i.title }}</h3>
                <div class="blog-info">
                    <div>
                        <p>{{ i.post }}</p>
                        <p class="small-txt"><a href="/about" class="writer">Written-by: {{ i.author }}</a></p>
                        <p class="small-txt date">Date-posted:{{ i.date_posted }}</p>
                        {% if i.date_posted != i.date_updated %}
                            <p class="small-txt date">last-update:{{ i.date_updated }}</p>
                        {% endif %}
                        <a href="#" class="my-links link-1"><abbr title="EDIT"><i class="fa fa-edit fa-2x"></i></abbr></a>
                        <a href="#" class="my-links link-2"><abbr title="DELETE"><i class="fa fa-trash-o fa-2x"></i></abbr></a>
                    </div>
                    
                    {% if i.my_image %}
                    <img src="{{ i.my_image.url }}" alt="image-{{ i.title }}" width="400" max-height='500'>
                    {% endif %}
                </div>
                
                
            {% endfor %}
        </div>
    {% endblock %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>